<table mat-table
       [dataSource]="this.databaseConnection.currentTableInfo.lines.slice(this.pageSize * pageIndex, this.pageSize * pageIndex + this.pageSize)" multiTemplateDataRows
       class="mat-elevation-z8">
  <ng-container matColumnDef="{{column}}" *ngFor="let column of this.databaseConnection.currentTableInfo.columns">
    <th mat-header-cell *matHeaderCellDef> {{column}} </th>
    <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="this.databaseConnection.currentTableInfo.columns.length">
      <div class="example-element-detail"
           [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        <form class="example-form">
          <mat-form-field class="example-full-width" *ngFor="let column of this.databaseConnection.currentTableInfo.columns">
            <mat-label>{{column}}</mat-label>
            <input matInput placeholder="{{element[column]}}" [value]="currentElement[column]" (input)="currentElement[column] = $event.target.value">
          </mat-form-field>
          <button id="update" mat-raised-button color="primary" (click)="onSave()">Update</button>
          <button id="delete" mat-raised-button color="primary" (click)="delete()">Delete</button>
        </form>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="this.databaseConnection.currentTableInfo.columns"></tr>
  <tr mat-row *matRowDef="let element; columns: this.databaseConnection.currentTableInfo.columns"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === null && this.databaseConnection.tableNames.includes(this.databaseConnection.currentTable)? element : null;
               currentElement = cloneObject(element)">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>
<mat-paginator [length]="this.databaseConnection.currentTableInfo.lines.length"
               [pageSize]="pageSize"
               [pageSizeOptions]="[5, 10, 25, 100]"
               (page)="countPage($event)">
</mat-paginator>
